@import "../../../styles/variables.scss";

.zone-ane-pas-manquer-libre-bas,
.zone-ane-pas-manquer-libre-haut {
  width: 100%;

  & > div {
    width: 100%;
    background-color: white;
  }
}

.ne-pas-manquer-wrapper {
  background-color: $a3;
  padding: 1rem 15% 2rem;
}

.ne-pas-manquer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 80%;
  margin: auto;

  & > a:hover .ne-pas-manquer-item {
    transform: rotate(2deg);
    border-color: white;
    text-decoration: underline;

    .ne-pas-manquer-item-img {
      transform: scale(1.1);
    }
  }

  & > a {
    text-decoration: none;
    color: inherit;
    margin-bottom: 0.75rem;

    .ne-pas-manquer-item {
      display: flex;
      flex-direction: column;
      max-width: 190px;
      width: 190px;
      height: 100%;
      margin: 0.5rem;
      border: 4px solid transparent;
      transition: 0.3s ease;
      overflow: hidden;
      outline: 1px solid transparent;

      .ne-pas-manquer-item-img {
        flex-grow: 1;
        object-fit: cover;
        transition: 0.3s ease;
        display: block;
        max-width: 100%;
      }

      .ne-pas-manquer-item-description {
        padding: 0.5rem;
        text-align: center;
        background-color: white;
        font-weight: 500;
        z-index: 1;
      }
    }
  }
}
