@import "../../../styles/variables.scss";

.zone-actualites-libre-haut,
.zone-actualites-libre-bas {
  width: 100%;

  & > div {
    width: 100%;
    background-color: white;
  }
}

.list-actualites-container {
  width: 100%;
  padding: 1rem 15% 2rem;
  flex-grow: 1;
  max-width: 100%;
  background-color: $a3;

  a {
    text-decoration: none;
  }

  .actu-item {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 2rem;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;

    & > a {
      flex: 1 0 auto;
      max-width: 20%;
      width: 20%;
      max-height: 230px;

      & > div {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    a:hover + .actualite-infos a {
      &::before {
        right: 0;
      }
    }
    .actualite-infos {
      flex: 2 1 auto;
      display: grid;
      grid-template-areas:
        "taxo . date"
        "title title title"
        "resume resume resume";
      align-content: flex-start;
      grid-template-columns: auto auto auto;
      gap: 1rem;
      padding: 1rem;

      .actualite-categorie {
        grid-area: taxo;
        font-weight: 500;
        font-size: 1.1rem;
        color: $b1;

        &::first-letter {
          text-transform: uppercase;
        }
      }

      .actualite-date {
        grid-area: date;
        color: #939393;
        font-size: 1.1rem;
        text-align: right;
      }

      .actualite-title {
        grid-area: title;
        font-weight: bold;
        font-size: 1.3rem;
        margin-bottom: 0;

        & > a {
          color: inherit;
        }
      }

      .actualite-resume {
        grid-area: resume;
      }
    }
  }
}

@media (max-width: 900px) {
  .list-actualites-container > .actu-item {
    flex-direction: column;
    & > a {
      flex: inherit;
      overflow: hidden;
      max-width: 100%;
      width: 100%;
    }
  }
}

@media (max-width: 600px) {
  .zone-actualites-libre-haut,
  .zone-actualites-libre-bas {
    padding: 1rem 5% 2rem;

    & > div {
      padding: 0rem;
    }
  }
  .list-actualites-container {
    padding: 1rem 5% 2rem;
  }
}
