@import "./variables.scss";

.page-actu-additional-infos {
  padding: 2rem 15% 1rem;
  background-color: $a3;
}

.page-actu {
  padding: 1rem 15% 2rem;

  .actualite {
    .actualite-img {
      position: relative;
      max-width: 50%;
      margin: auto auto 2rem auto;
      border-radius: 15px;
      overflow: hidden;

      & > div {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        max-width: 100%;
        overflow: hidden;
      }

      .actualite-tags {
        position: absolute;
        top: 0.75rem;
        left: 0.75rem;

        .actualite-taxo {
          display: inline-block;
          margin: 0.125rem;
          padding: 0.25rem 1rem;
          border-radius: 20px;
          color: white;
          background-color: $d;
          font-size: 0.9rem;
          font-weight: 500;

          & > a {
            color: inherit;
            text-decoration: none;
          }
          & > a:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .actualite-title {
      color: $a1;
      font-size: 1.5rem;
    }
  }

  .actualite-content-footer {
    display: flex;
    justify-content: space-between;
    -webkit-box-pack: justify;
    margin-top: 2rem;
    color: $a2;

    .actualite-content-footer-back {
      position: relative;
      margin-left: 1.5rem;
      transition: 0.3s ease;
      cursor: pointer;

      & > a {
        text-decoration: none;
        color: inherit;
      }
      & > a::before {
        content: " ";
        height: 17px;
        position: absolute;
        left: -1.5rem;
        top: 0.25rem;
        width: 20px;
        background-repeat: no-repeat;
        background: url("../images/full-arrow.svg");
      }
    }

    .actualite-content-footer-back:hover {
      transition: 0.3s ease;
      margin-left: 0;
    }
  }
}

@media (max-width: 900px) {
  .page-actu,
  .page-actu-additional-infos {
    padding: 1rem 5% 2rem;
  }
  .page-actu > .actualite > .actualite-img {
    max-width: 100%;
  }
}
