@import "./variables.scss";

.section-first,
.section-second,
.section-third {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}
.section-partenaires {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.section-ne-pas-manquer {
  flex-direction: column;
  display: flex;
  background-color: $c1;
}

.section-acces-direct {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $a1;
}
.section-third > div:first-of-type {
  background-color: rgba(235, 237, 239, 0.7);
}

@media (max-width: 900px) {
  .section-first,
  .section-second,
  .section-third {
    flex-direction: column;
  }
}
