@import "./variables.scss";

@mixin linkInTitle($color) {
  position: relative;

  &:hover {
    text-decoration: none;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 100%;
    bottom: -4px;
    background: $b1;
    height: 4px;
    transition-property: right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }

  &:hover::before {
    right: 0;
  }
}

@mixin linkOutTitle($color) {
  a & {
    position: relative;

    &:hover {
      text-decoration: none;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 100%;
      bottom: -4px;
      background: $b1;
      height: 4px;
      transition-property: right;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
    }
  }

  a:hover &::before {
    right: 0;
  }
}

@mixin btnHover($decalColor, $frontColor, $txtColor) {
  & {
    position: relative;
    z-index: 1;
    transition: 0.4s ease;
    color: $txtColor;

    &:hover {
      background-color: transparent;
      text-decoration: none;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 20px;
      background-color: $decalColor;
      z-index: -2;
      transition: 0.4s ease;
    }

    &:hover::before {
      top: -8px;
      left: -3px;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      border-radius: 20px;
      background-color: $frontColor;
      z-index: -1;
      transition: 0.4s ease;
    }

    &:hover::after {
      bottom: -2px;
      right: -1px;
    }
  }
}
